# data processing
celery==4.4.7

# This is temporary until forest is open-sourced
git+https://git@github.com/onnela-lab/forest@e72ac1d4fd36698a050867218fd5894c5ea16e9d


# it is possible you will need to imstall the following system dependencies on ubuntu:
# sudo apt-get install libopenblas-base libatlas3-base gcc gfortran python3-dev libopenblas-dev liblapack-dev
