# data processing
celery==4.4.7

# This is temporary until forest is open-sourced
git+https://git@github.com/onnela-lab/forest@8dea5ed987d5f7782a59712b0d6d23ca2fd2d488


# it is possible you will need to imstall the following system dependencies on ubuntu:
# sudo apt-get install libopenblas-base libatlas3-base gcc gfortran python3-dev libopenblas-dev liblapack-dev
