# core libraries
Django==2.2.24
firebase-admin==4.5.1
Jinja2==3.0.2
zstd==1.5.0.2  # This one seems to require manual pinning, version 1.5+ contains performance improvements

# various extensions
djangorestframework==3.12.4
django-extensions==3.1.3

python-dateutil==2.8.2

# We used to use pycrypto, now we use pycryptodome, but we can't get pycryptodome to decrypt RSA
# stuff backwards-compatibly.  Pycrypto RSA decryption is not compatible with Python versions
# greater than 3.7 without a patch to the time library.  There are Fixmes for expunging it elsewhere.
pycrypto==2.6.1
pycryptodomex==3.11.0  # locked version

# error reporting
raven==6.10  # raven has been sunset at 6.10
cronutils>=0.3.0

# data sanitization
bleach>=4.1.0

# server requirement
# You have to upgrade django to greater than 2.2 (apparently) in order to upgrade psycopg2 to 2.9.x
psycopg2==2.8.6

# ipython can exhibit weird issues that make it look like the codebase is broken.  Most issues
# are resolved by forcing this relatively new version of ipython.
ipython==7.30.0

# Keep these dependencies up to date
boto3
pytz
# bleach  # at some point add bleach...

# Ug due to pytz.timezone("America/New_York") being off by 4 minutes (aka ... wrong) we had to abandon
# this library. but we can't remove it because it is used in migrations.
django-timezone-field==4.1.1

pip-tools
