packages:
  yum:
    gcc: []
    postgresql: []
    postgresql-devel: []
    htop: []
    python-devel: []
    git: []
    mod24_ssl : []

commands:
  01_setup_swap:
    ignoreErrors: true
    command: fallocate -l 4G /swapfile && chmod 600 /swapfile && mkswap /swapfile && swapon /swapfile && swapon -s
  02_pagespeed_1_download:
    command: "rpm -q mod-pagespeed-stable || wget https://dl-ssl.google.com/dl/linux/direct/mod-pagespeed-stable_current_x86_64.rpm"
  02_pagespeed_2_install:
    command: "rpm -q mod-pagespeed-stable || rpm -U mod-pagespeed-*.rpm"
  03_add_self_signed_ssl:
    ignoreErrors: true
    command: |
      umask 077
      openssl req -new -newkey rsa:2048 -sha256 -days 1325 -nodes -x509 -keyout /etc/pki/tls/private/server.key -out /etc/pki/tls/certs/server.crt -subj "/C=US/ST=Denial/L=Springfield/O=Dis/CN=www.example.com"

container_commands:
#  01_add_global_wsgi_application_group:
#    command: if ! grep -q 'WSGIApplicationGroup %{GLOBAL}' ../wsgi.conf ; then echo 'WSGIApplicationGroup %{GLOBAL}' >> ../wsgi.conf; fi;
  01_setup_profile:
    command: mv ./cluster_management/pushed_files/eb_profile.sh /home/ec2-user/.bashrc; chmod 644 /home/ec2-user/.bashrc; chown ec2-user /home/ec2-user/.bashrc; chgrp ec2-user /home/ec2-user/.bashrc
  02_setup_reasonable_inputrc:
    command: mv ./cluster_management/pushed_files/.inputrc /home/ec2-user/.inputrc; chmod 664 /home/ec2-user/.inputrc; chown ec2-user /home/ec2-user/.inputrc; chgrp ec2-user /home/ec2-user/.inputrc
  03_migrate:
    leader_only: true
    command: source /var/app/venv/*/bin/activate && python3 manage.py migrate

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi.py
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: frontend/static

# the location to stick custom apachy configurations is at /etc/httpd/conf.d/elasticbeanstalk/*.conf
#  (as far as I can tell, anyway.  its declared in the default apache configuration.  )
#to change the number of processes and threads check the ProcFile parameters

# This section is definitely no longer correct, will need to work out new paradigm on awslinux2
files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule wsgi_module modules/mod_wsgi.so
      WSGIPythonHome /opt/python/run/baselinenv
      WSGISocketPrefix run/wsgi
      WSGIRestrictEmbedded On
      Listen 443
      <VirtualHost *:443>
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/private/server.key"

        Alias /static/ /opt/python/current/app/frontend/static/
        <Directory /opt/python/current/app/frontend/static/>
        Order allow,deny
        Allow from all
        </Directory>

        WSGIScriptAlias / /opt/python/current/app/wsgi.py

        <Directory /opt/python/current/app>
        Require all granted
        </Directory>

        WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
          python-path=/opt/python/current/app \
          python-home=/opt/python/run/venv \
          home=/opt/python/current/app \
          user=wsgi \
          group=wsgi
        WSGIProcessGroup wsgi-ssl

      </VirtualHost>
