<hr>

<div class="container text-center">
  <span class="pull-left">
    Contact: <a href="mailto:onnela.lab@gmail.com">onnela.lab@gmail.com</a>
  </span>
  <span>
    {# TODO: Make this automatically update to the current year #}
    &copy; 2014-{{ current_year }} Harvard University.
    Built by <a href="https://zagaran.com">Zagaran, Inc.</a>
    and <a href="https://www.hsph.harvard.edu/onnela-lab/">Onnela Lab</a>
  </span>
  <span class="pull-right">
    Looking for the Android App? <a href="/downloads">click here</a>.
  </span>
</div>