{% extends "base.html" %}
{% block title %}Notification History{% endblock %}

{%  block content %}
  <div class="title">
    <h1>Notification history for <a href="/view_study/{{ study.id }}/participant/{{ participant.id }}">{{ participant.patient_id }}</a></h1>

    <p><b>Page of results:</b></p>
    <ul class="pagination" style="margin-top:0px;">
      {% set urlbase = "/view_study/" + study.id|string + "/participant/" + participant.id|string + "/notification_history?page=" %}
      {% if page.has_previous() %}
        <li><a href="{{ urlbase }}{{ page.previous_page_number() }}">&laquo;</a></li>
        {% if page.previous_page_number() > 1 %}
          <li><a href="{{ urlbase }}1">1</a></li>
          {% if page.previous_page_number() > 2 %}
            <li class="disabled"><a href="">...</a></li>
          {% endif %}
        {% endif %}
        <li><a href="{{ urlbase }}{{ page.previous_page_number() }}">{{ page.previous_page_number() }}</a></li>
      {% endif %}
      <li class="active"><a href="#">{{ page.number }}</a></li>
      {% if page.has_next() %}
        <li><a href="{{ urlbase }}{{ page.next_page_number() }}">{{ page.next_page_number() }}</a></li>
        {% if page.next_page_number() < last_page_number %}
          {% if page.next_page_number() < last_page_number - 1 %}
            <li class="disabled"><a href="">...</a></li>
          {% endif %}
          <li><a href="{{ urlbase }}{{ last_page_number }}">{{ last_page_number }}</a></li>
        {% endif %}
        <li><a href="{{ urlbase }}{{ page.next_page_number() }}">&raquo;</a></li>
      {% endif %}
    </ul>

    <table class="table table-bordered">
      <tr>
        <th>Scheduled time</th>
        <th>Sent or attempted on</th>
        <th>Survey</th>
        <th>Status</th>
      </tr>
      {% for attempt in notification_attempts %}
        <tr {% if attempt.status == 'success' %} class="tableRowSuccess" {% else %} class="tableRowError" {% endif %}>
          <td>{{ attempt.scheduled_time }}</td>
          <td>{{ attempt.attempted_time }}</td>
          <td>{{ attempt.survey_name }}</td>
          <td>{{ attempt.status }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}